
 

<ion-content>
  <ion-text  >
    

   <h1  class="ion-text-center" > Bienvenido {{persona.nombre}}!</h1> 


  </ion-text>



 
        <ion-card>
          <img src="/assets/icon/plaza_oeste.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Duoc UC</ion-card-subtitle>
            <ion-card-title>Instituto Profesional</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Duoc UC es un Instituto Profesional chileno creado como fundación por la Pontificia Universidad Católica de Chile el 7 de noviembre de 1968
          </ion-card-content>
        </ion-card>
  

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="speakers">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="schedule">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Calendario</ion-label>
   
      </ion-tab-button>
  

  
      <ion-tab-button tab="qr-code-outline">
        <ion-icon name="qr-code-outline"></ion-icon>
        <ion-label>Qr</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Info</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
